# Supabase credentials
# Remplace ces valeurs par celles de ton projet Supabase
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oZG9qcXFtdGNidGZueXV6bmpiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2NTA2ODEsImV4cCI6MjA5ODIyNjY4MX0.Yb9k53TjkWw_Z9WQTu7tYgskOh3vdb63bJHA0Tf6s7k
VITE_SUPABASE_URL=https://ohdojqqmtcbtfnyuznjb.supabase.co